.icons{
    width: 30px;
    height: 30px;
}
.html{
    color: #fa770c
}
.css{
    color: rgb(34, 34, 255);
    
}
.javascript{
    color: rgb(239, 243, 4);
}
.react{
    color: rgb(43, 150, 221)
}
.nodejs{
    color: #1ca101;
}
.git{
    
}