.main-about{
    width: 98%;
    min-height: 88vh;
    margin: auto;
    border: 5px solid #000;
    background: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 70px;
}